@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Welcome, @User.Identity.Name!</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Logout" />
    </form>
}
else
{
    <div class="text-center">
        <h2>Welcome!</h2>
        <span>Choose action:</span>
        <form>
            <div align="center">
                <button asp-controller="Account" asp-action="Login">Login</button>
                <button asp-controller="Account" asp-action="Register">Registration</button>
            </div>
        </form>
    </div>
}

